body{
	background-color: #e3f2fd;
}

.all-browsers {
	margin: 0;
	padding: 5px;
	background-color: lightgray;
}

.all-browsers>h1, .browser {
	margin: 10px;
	padding: 5px;
}

.browser {
	background: white;
}

.browser>h2, p {
	margin: 4px;
	font-size: 90%;
}

#topicListArea .card {
	box-shadow: 0 0 10px #000080;
}

#topicListArea
.checked ,
#topicContentDialog
.checked{
	color: #0d47a1;
}

.side-block {
	width: 50px;
	margin: 0
}

.center-block {
    width: calc(100% - (100px));
	margin: 0
}

.replyList {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.side-block img {
	padding-top: 10px;
	width: 100%;
}

#addTopicDialog .modal-body{
	margin: 40px;
	z-index: 99;
}
