body {
	background-color: #e3f2fd;
}

.all-browsers {
	margin: 0;
	padding: 5px;
	background-color: lightgray;
}

.all-browsers>h1, .browser {
	margin: 10px;
	padding: 5px;
}

.browser {
	background: #ecebcc;
}

.browser>h2, p {
	margin: 4px;
	font-size: 90%;
}

#topicListArea .card {
	box-shadow: 0 0 10px #000080;
}

#topicListArea
.checked, #topicContentDialog
.checked {
	color: #0d47a1;
}

.side-block {
	width: 50px;
	margin: 0
}

.center-block {
	width: calc(100% - ( 100px));
	margin: 0
}

.replyList {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.side-block img {
	padding-top: 10px;
	width: 100%;
}

#addTopicDialog .modal-body {
	margin: 40px;
}

/* #addTopicDialog #topicEditor { */
/* 	margin-left: 50px; */
/* } */
:root { 
	--ck-z-default: 1080;
}

#topicEditor {
	height: 300px;
	border: 1px solid lightgrey;
	width: 100%;
}

.topicContentArea img {
	max-width: 100%;
}

#replyEditor {
	border: 1px solid lightgrey;
	width: 100%;
}

#like-area {
	background-color: #e4e0d1;
	border-radius: 30px;
    position: absolute;
    top: -55px;
    left: -80px;
    transition: 0.5s;
}

/* width */
#topicContentDialog .modal-body::-webkit-scrollbar,
#stageListDialog .modal-body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#topicContentDialog .modal-body::-webkit-scrollbar-track,
#stageListDialog .modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
#topicContentDialog .modal-body::-webkit-scrollbar-thumb,
#stageListDialog .modal-body::-webkit-scrollbar-thumb {
  background: rgb(141, 141, 141); 
  border-radius: 5px;
}

/* Handle on hover */
#topicContentDialog .modal-body::-webkit-scrollbar-thumb:hover,
#stageListDialog .modal-body::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; 
}