@charset "UTF-8";

.divbig {
		width:600px; 
		font-size: 1.2em;
		padding: 10px 30px;
		margin: 25px auto;
		font-family:微軟正黑體;}
.lab{font-size: 1em;}	
.form{ border: 2px solid lightgray; padding: 20px 30px; border-radius: 10px;}
.inpu{border:0; border-bottom: 2px solid lightgray; outline: none; font-size: 0.9em; width: 250px}